.pageContainer{
    background-color:#E8E8E8 ;
    display: grid;
  grid-template-areas:
    'none top top top top top'
    'side main main main main main'
    'side main main main main main';
  gap: 10px;
  padding: 10px;
  height: 100%;
  color:black;
  clear:both;
}
.top{
    background-color: white;
    height: 30px;
    grid-area: top;
    text-align: left;
    color:black;
    border-radius:5px ;
    margin-top: 10px;
    
}
.side{
    background-color: white;
    height: 500px;
    grid-area: side;
    color:black;
    text-align: left;
    border-radius: 5px;
    margin-right:10px;
    padding-left:40px;
    margin-top: 10px;
}
.cardsContainer{
   margin-top: 10px;
    height:500px;
    grid-area: main;
}
h4{
    color:black;
    margin:10px;
    font-weight: 300;
}
h5{
    color:#00BFFF;
    margin:10px;
    font-weight: 500;
    font-size: 20px;
}
.minMax{
    display: flex;
    margin-left: 15px;
    margin-right: 10px;
}
.MInputs{
    width: 80px;
    margin-left: 10px;
}
.Category{
    margin-left: 40px;
}
.border{
    border-bottom: black solid 1px;
    width: 80%;
    
}
